
/* la partie de declaration des varibales globale en ce fichier css pour reutiliser */
:root{
    --primary-color: #00FFFF;
    --second-color: #00DCFF;
    --third-color: #00CEFF;
    --for-color: #00C7FF;
    --last-color: #0099FF;
    --bg-Color: #0A0E28;
    --gradient1: linear-gradient(to right ,var(--primary-color)0%, var(--second-color)30%, var(--third-color)35%, var(--for-color)55%, var(--last-color)100%);
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-Color);
    
    
}



/* le style css pour l partie header  (navbar) */
header{
    width: 100vw;
    height: 11vh;
    background-color: var(--bg-Color);
    position: fixed;
    z-index: 3;
    
      
}

header>nav {
  display: flex;
  width: 95vw;
  justify-content: space-between;
  align-items: center;
  

}

header>nav h3{
    color: white;
    margin-left: 40px;
    font-weight: bold;
   
    
    
}

header>nav span{
    color: var(--primary-color);
}


header>nav>.links a{
    text-decoration: none;
    color: white;
    font-size:14px;
    font-weight:40;
    margin-left: 20px; 
    transition: 0.9s;
}

header>nav>.links a:hover{
    color: var(--primary-color);
    font-size: 18px;

}

header>nav>.links .btn{
   padding: 12px;
   border-radius: 8px;
   background: var(--gradient1);
   color: black;
   font-weight:530;
   transition: 0.9s;
   
}

header>nav>.links .btn:hover{
    color: black;
}

/* css pour le premier section  au site  (Trouve ton joeur ....) */
.section1{
    display: flex;
    width: 100vw;
    height: 89vh;
    color: white;
   justify-content: center;
   text-align: center;
   background: radial-gradient(circle, #19374F 15%, #202344 57%);
  
}

.section1>.content1 h1{
    font-size: 60px;
    background: linear-gradient(to right, white 20%,var(--primary-color)50%, var(--second-color)90%, var(--for-color)100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 1px 2px 3px 1px  var(--primary-color);
}

.section1>.content1 p{
    font-size: 15px;
    line-height: 30px;
    white-space: pre;
    color: #B0B0B0;
    
}
.section1>.content1 {
    align-self: center;
    font-size: large;  
}

.section1>div>.btns{
    display: flex;
    justify-self: center;
    border: 1 solid yellow;
    
    
    

}

.section1>div>.btns a{
    text-decoration: none;
    color: white;
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    margin-right: 20px;
    width: 250px;
    height: 40px;
    padding-top: 20px;
    color: var(--primary-color);
    

}

.section1>div>.btns .link1{
    background: var(--gradient1);
    color: black;
    font-weight: 200;
    font-size: large;

}

/* css pour la partie footer  -------*/
footer{
    text-align: center;
    padding-top: 64px;
    padding-bottom: 60px;
    width: 100%;
   
}
footer>.footer-content{
    display: flex;
    justify-content: space-evenly;
    color: white;
     
}

footer>div ul {
    list-style: none;
    padding-left: 0px;
}


footer>div ul li{
    line-height: 30px;
}
.div2,.div3,.div4{
    text-align: left;
 }

footer>div ul li a{
    text-decoration: none;
    font-size: 14.8px;
    color: #B0B0B0;
}

.div1{
    padding-left: 0px;
    text-align: left;  
}

footer>div>.div1 p{
    white-space: pre;
    color: #B0B0B0;
    font-size: 14.8px;
    line-height: 25px;
}

.footer-content .div1 h2{
    font-size: 22.9px;
}

.footer-content .div1 h2 span{
    color: var(--primary-color);
}

.footer-content .div2,.div3,.div4 h3{
    font-size: 16.9px;

}

.div1 .icons i{
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    font-size: x-large;
    color: var(--primary-color);
    background-color: #062231;
    padding: 8px 5px;
    margin: 0 6px;
}

/* le style css de formulaire pour la page du joeurs       */

.section-recherche{
    color: white;
    padding-top: 70px ;
    text-align: center;
    background: linear-gradient(to right, #1A1F3A 0%, #12172D 54%, #10152A 81%, #0F1428 100%);
    width: 90%;
    height: 22vh;
    border-radius: 12px;
    justify-self: center;
    border: 1px solid #0c3c50;
    


  

}





.section-recherche> form label{
    display: block;
    justify-self: start;
    font-size: 14px;
    font-weight: 250;
    color: var(--primary-color);

}

input::placeholder {
    color: white;
}

.section-recherche> form select, input{
    width: 200px;
    padding: 7px;
    border-radius: 6px;
    background-color: #0B0F27;
    color: white;
    font-size: small;
    border: 1px solid #0c3c50;   
}

.section-recherche> form{
    margin-top: 38px;
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
    
}

form>.btn-recherche{
    margin-top: 20px;
}

form>.btn-recherche a{
    text-decoration: none;
    /* border: 1px solid var(--primary-color); */
    padding: 10px 60px;
    border-radius: 10px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    background: var(--gradient1);
    box-shadow: 1px 1px 7px var(--primary-color);
}

/* style css pour la section list joeur dans le meme page (page joeur) */

.section-list-joeurs{
    color: white;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 60px;

}
.section-list-joeurs hr{
    width: 100px;
    height: 3px;
    border-radius: 6px;
    border: none;
    background: linear-gradient(to right,var(--primary-color)0%, #5BA4FF 36%, #8B74FF 54%, #B54AFF 71%, #DF20FF 88%, #FF00FF 100%);
}

.section-list-joeurs> .cards-joeurs{
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    width: 90%;
    height: auto;
    justify-self: center;
    justify-content: space-evenly;
    
}

.section-list-joeurs> .cards-joeurs>.card{
    border: 1px solid #0F4659;
    border-radius: 10px;
    width: 365.34px;
    height: 399px;
    margin-top: 18px;
    background: linear-gradient(to right, #1A1F3A 0%, #12172D 54%, #10152A 81%, #0F1428 100%);
}

.section-list-joeurs> .cards-joeurs>.card .card-header{
    margin-top: 30px;
}

.section-list-joeurs> .cards-joeurs>.card .card-header img{
    border-radius: 50px;
    border: 2px solid #00FFE7;
    box-shadow: 1px 0px 5px 1px var(--primary-color);

}

.card .card-body h3{
    font-size: 18.9px;
    font-weight: bold;
}

.card .card-body button{
    padding: 5px 65px;
    font-size: large;
    border: 1px solid var(--primary-color);
    box-shadow: 1px 1px 9px   1px var(--primary-color);
    border-radius: 13px;
    color: #0096FF;
    background: #0F3159;
}

.card .card-body h5{
    word-spacing : 8px;
    font-size: 16px;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 18px;
}

.card .card-body p{
    font-size: 14px;
    font-weight: 200;
    color: #B0B0B0;
}

.card .card-footer{
    margin-top: 27px;
}


.card .card-footer a{
    text-decoration: none;
    width: 100%;
    padding: 10px 60px;
    border-radius: 10px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    background: var(--gradient1);
   
}

/* css pour la page de comment ca marche */

.about hr{
     width: 100px;
    height: 3px;
    border-radius: 6px;
    border: none;
    background: linear-gradient(to right,var(--primary-color)0%, #5BA4FF 36%, #8B74FF 54%, #B54AFF 71%, #DF20FF 88%, #FF00FF 100%);
}

.about{
    color: white;
    justify-self: center;
    text-align: center;
    margin-top: 100px;
}

section> .cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    width: 90vw;
    height: auto;
    justify-content: space-evenly;
}
section> .cards .card{
    justify-content: space-evenly;
    background: linear-gradient(to right, #1A1F3A 0%, #12172D 54%, #10152A 81%, #0F1428 100%);
    border: 1px solid #0F4659;
    border-radius: 16px;
    width: 300px;
    height: 280px;
}


section> .cards .card .card-header i{
    margin-top: 30px;
    font-size: x-large;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 10px 8px;
    border-radius: 50%;
    background: linear-gradient(to right, #0F4659 10%,  #0a050a 100%);
}

section> .cards .card .card-body h4{
    font-size: 23px;
}
section> .cards .card .card-body p{
    line-height: 25px;
    word-spacing: pre;
    font-size: 13px;
    font-weight: 200;
    color: #B0B0B0;
}

/* css pour la page communaute  */

.card-chiffres{
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    justify-content: center;
    gap: 50px;
}

.card-chiffres .chiffre1{
    border: 2px solid #0F495D;
    border-radius: 1rem;
    width: 260px;
    height: 169px;
    background: linear-gradient(to right, #1A1F3A 0%, #12172D 54%, #10152A 81%, #0F1428 100%);

    
}

.card-chiffres .chiffre1 h2{
    margin-top: 60px;
    font-size: xx-large;
    background: linear-gradient(to right, var(--primary-color)0%, #35CAFF 21%, #6996FF 41%, #A758FF 65%, #CE31FF 81%, #FF00FF 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.about>.titre1{
    margin-top: 100px;
}

.card-chiffres .chiffre1 p{
    color: #B0B0B0;
    font-size: 17;
    font-weight: bold;
}
.articles {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    width: 90vw;
    justify-content: center;
    gap: 50px;
    
   
}

.articles div {
    border: 2px solid #105769;
    border-radius: 1rem;
    width: 365px;
    height: 257px;
    background: linear-gradient(to right, #1A1F3A 0%, #12172D 54%, #10152A 81%, #0F1428 100%);
    
   
}

.articles div .contenue p{
    margin-top: 35px;
    font-size: 13;
    line-height: 30px;
    font-style: italic;
    color: #E0E0E0;
    
    
  
}

.articles> div .contenue p span{
    display: block;
    position: relative;
    font-size: 18px;
    color: var(--primary-color);
    font-weight: bold;
    padding-top: 10px;
    left: -100px;
}

.articles>div>.contenue .end-line{
    display: block;
    color: #888888;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    margin-top: 0px;
    text-align: left;
    margin-left: 29px;
}

/*  css pour la page profile d'un joeur  */
.section-profil {
    padding-top:100px;
    color: white;
    text-align: center;
    width: 100vw;
    height: auto;
}

.section-profil hr{
    width: 100px;
    height: 3px;
    border-radius: 6px;
    border: none;
    background: linear-gradient(to right,var(--primary-color)0%, #5BA4FF 36%, #8B74FF 54%, #B54AFF 71%, #DF20FF 88%, #FF00FF 100%);
}

.section-profil h1{
    color: 39px;
    text-align: center;
}

.section-profil .cards{
    display: flex;
    width: 90vw;
    justify-content: center;
    gap: 20px;
    
    
   
}

.cards> .first-card{
     border: 1px solid #105769;
    border-radius: 2rem;
    background: linear-gradient(to right, #1A1F3A 0%, #12172D 54%, #10152A 81%, #0F1428 100%);
    
}


.cards> .seconde-card{
    display: flex;
    width: 40vw;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #105769;
    border-radius: 2rem;
    background: linear-gradient(to right, #1A1F3A 0%, #12172D 54%, #10152A 81%, #0F1428 100%);

}

.cards> .seconde-card div{
    display: flex;
    flex-direction: column;
    gap: 20px;
   
    
}

.cards> .seconde-card div p{
    font-size: larger;
    align-self: start;
}



.cards> .first-card> .card-header h2{
    font-size: 30px;

}
.cards> .first-card> .card-body img{
    width: 400px;
    height: 200px;
    border-radius: 50px;
    border: none;
}

.section-profil .btn{
    margin-top: 80px;
    transition: 0.9s;
}
.section-profil .btn a{
    text-decoration: none;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 14px;
    padding: 17px 80px;
    font-size: x-large;
    
  
}
.section-profil .btn:hover{
    transform: translateY(-10px);

}

/* css pour la page de creation d'une annonce  */
.global-annonce{
    padding-top: 100px;
}
.annonce-section {
    color: white;
    text-align: center;
}

.annonce-section hr{
    width: 100px;
    height: 3px;
    border-radius: 6px;
    border: none;
    background: linear-gradient(to right,var(--primary-color)0%, #5BA4FF 36%, #8B74FF 54%, #B54AFF 71%, #DF20FF 88%, #FF00FF 100%);
}

.annonce-section> .form-search{
    display: flex;
    justify-content: space-around;
    position: relative;
    right: 20%;
    left: 21%;
    width: 739px;
    height: 260px;
    border: 1px solid var(--primary-color);
    margin-top: 60px;
    border: 1px solid #105769;
    border-radius: 2rem;
    background: linear-gradient(to right, #1A1F3A 0%, #12172D 54%, #10152A 81%, #0F1428 100%);
}

.form-search .form{
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    gap: 30px;
}

.form-search .form label{
    display: block;
    position: relative;
    justify-self: start;
    font-size: 13px;
    color: var(--primary-color);
}

.form-search .form  input{
    margin-top: 10px;
    height: 25px;
    width: 300px;
    border-radius: 10px;
}

.form-search .form  input::placeholder{
    color: #929090;
    font-size: 13px;
    position: absolute;
    top: 9px;
    left: 15px;
}

.form-search .form textarea {
    margin-top: 4px;
    background-color: #0B0F28;
    width: 300px;
    height: 60px;
    border-radius: 12px;
    border: 1px solid #0c3c50;
}

.form-search .form textarea::placeholder{
    color: #929090;
    font-size: 14px;
    position: absolute;
    top: 9px;
    left: 15px;
    
}

.annonce-item {
    color: white;
    margin-top: 100px;
    text-align: center;
    width: 650px;
    height: 250px;
    justify-self: center;
    border: 1px solid #105769;
    border-radius: 2rem;
    background: linear-gradient(to right, #1A1F3A 0%, #12172D 54%, #10152A 81%, #0F1428 100%);
}

.annonce-item h3{
    font-size: 23px;
    margin-top: 35px;
}

.annonce-item .text {
    width: 300px;
    justify-self: center;
    
}
.annonce-item .text p{
    line-height: 20px;
    font-size:  14px;
    font-style: italic;
    color: #E0E0E0;
}

.annonce-item  a{
    text-decoration: none;
    display: block;
    color: white;
    border: 1px dotted var(--primary-color);
    margin-top: 40px;
    justify-self: start;
    margin-left: 40px;
    padding: 9px 14px;
    border-radius: 8px;
    transition: 0.9s;
 
}
.annonce-item  a:hover{
    transform: translateY(-10px);
    color: #0096FF;

}










